.Login {
  display: flex;
  flex: 1;

  .form-container {
    min-width: 330px;
  }

  .illustration {
    display: none;
  }

  @media (min-width: $break-point-tablet) {
    .illustration {
      display: flex;
      flex-grow: 1;
      background-color: $color-placeholder;
    }

    .image-container {
      display: flex;
      flex: 1;
      background-image: url('https://upload.wikimedia.org/wikipedia/commons/8/83/Zebra_Botswana_edit02.jpg');
      background-size: cover;
    }
  }
}
