.Landing-Features {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: $base-padding $double-padding;

  .feature {
    padding-bottom: $double-padding;
  }

  .title {
    font-weight: 700;
    font-size: 26px;
    padding-bottom: $base-padding;
  }

  .text {
    line-height: $line-height-spaced;
    padding-bottom: $base-padding;
  }

  @media (min-width: $break-point-desktop) {
    width: $break-point-desktop;
    margin: 0 auto;
    flex-direction: row;

    .feature {
      padding-right: $base-padding;
    }
  }
}
