.Landing-Hero {
  min-height: 75vh;
  display: flex;
  flex-direction: column;

  background-image: url('https://d13yacurqjgara.cloudfront.net/users/870290/screenshots/3062845/untitled-1_1x.png');
  background-repeat: no-repeat;
  background-position: 30vw 70%;
  background-size: contain;

  .masthead {
    display: flex;
    flex-direction: column;
    padding: $base-padding $double-padding;
    flex-grow: 1;
  }

  .title {
    max-width: 500px;
    font-size: $font-size-header;
    font-weight: 700;
  }

  .value-proposition {
    font-size: $font-size-large;
    line-height: $line-height-spaced;
    max-width: 350px;
    line-height: 1.5;
    padding: $double-padding 0;
  }

  @media (min-width: $break-point-desktop) {
    .masthead {
      width: $max-width-desktop;
      align-self: center;
    }
  }
}
