.Landing-Navbar {
  display: flex;
  justify-content: flex-end;
  padding: $double-padding $triple-padding;
  align-items: center;

  .signup {
    margin-right: $base-padding;
  }

  .link {
    font-size: $font-size-small;
  }
}
