.Landing-Hero {
  // min-height: 75vh;
  min-height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;
  background-color: #e3eefc;

  .overlay {
    display: flex;
    flex-direction: column;
    background-image: -webkit-linear-gradient(rgba(#000, 0.5), rgba(#000, 0.2));
    min-height: calc(100vh - 200px);
  }

  .masthead {
    display: flex;
    flex-direction: column;
    padding: $base-padding $double-padding;
    flex-grow: 1;
  }

  .title {
    max-width: 500px;
    font-size: $font-size-main-header;
  }

  .value-proposition {
    font-size: $font-size-large;
    line-height: $line-height-spaced;
    max-width: 350px;
    line-height: 1.5;
    padding: $double-padding 0;
  }

  .more {
    margin-top: $double-padding;
    font-size: $font-size-small;
  }

  @media (min-width: $break-point-desktop) {
    .masthead {
      width: $max-width-desktop;
      align-self: center;
    }
  }

  @media (min-width: $break-point-tablet) {
    // background-image: url('https://d13yacurqjgara.cloudfront.net/users/870290/screenshots/3062845/untitled-1_1x.png');
    // background-repeat: no-repeat;
    // background-position: 30vw 70%;
    // background-size: contain;
    background-image: url('https://cfl.dropboxstatic.com/static/images/business/homepage/background--db-vfl4SbjZf.jpg');
    background-size: contain;
    background-position: 100% 0%;
    background-repeat: no-repeat;
  }

  @media (max-width: $break-point-tablet - 1) {
    background-image: -webkit-linear-gradient(#e3eefc, #fff);
    min-height: 0;

    .masthead {
      align-self: center;
    }
  }
}
