.Shared-Avatar {
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $font-size-body;
    border: 1px solid;
  }

  .color-0 {
    color: $color-success;
  }

  .color-1 {
    color: $color-danger;
  }

  .color-2 {
    color: $color-warning;
  }
}
