// out of scope

.Button-no-decoration {
  text-decoration: none;
  display: flex;
}

.Button {
  position: relative;
  box-shadow: none;
  border: none;
  padding: $base-padding $double-padding;
  border-radius: $border-radius-button;
  color: $color-snow;
  min-height: $form-min-height;
  font-weight: $semi-bold;
  font-size: $font-size-large;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
  letter-spacing: $letter-spacing-spaced;

  &.small {
    font-size: $font-size-body;
    min-height: 44px;
    padding: $small-padding $base-padding;
  }

  &:hover {
    cursor: pointer;
  }

  &.success {
    background: $color-success;
    background-image: -webkit-linear-gradient(darken($color-success, 1%), darken($color-success, 2%));

    &:hover, &:focus {
      background: darken($color-success, $button-hover-darken);
    }
  }

  &.primary {
    background: $color-primary;
    background-image: -webkit-linear-gradient(darken($color-primary, 1%), darken($color-primary, 2%));

    &:hover, &:focus {
      background: darken($color-primary, $button-hover-darken);
    }
  }

  &.full-width {
    flex: 1;
  }
}
