.Shared-EmptyStateDashboard {
  display: flex;
  flex: 1;

  .sidebar {
    background-color: $sidebar-background;
    width: $sidebar-width;
    padding: $small-padding $base-padding;
  }

  .content {
    display: flex;
    flex-direction: row;
    flex: 1;
  }
}
