.Shared-Grid {
  display: flex;
  flex-direction: column;
  flex: 1;

  > .child {
    display: flex;
    flex: 1;
  }

  @media (min-width: $break-point-tablet) {
    flex-direction: row;

    > .child.small {
      padding-left: $small-padding;
      padding-right: $small-padding;
    }

    > .child.base {
      padding-left: $base-padding;
      padding-right: $base-padding;
    }

    > .child.large {
      padding-left: $double-padding;
      padding-right: $double-padding;
    }

    > .child.first {
      padding-left: 0;
    }

    > .child.last {
      padding-right: 0;
    }
  }
}
