@mixin color($color) {
  path, polygon, rect {
    fill: $color;
  }

  circle {
    stroke: $color;
  }

  &:hover {
    path, polygon, rect {
      fill: darken($color, $button-hover-darken);
    }

    circle {
      stroke: darken($color, $button-hover-darken);
    }
  }
}

.Shared-Icon {
  width: $base-padding * 1.5;
  height: $base-padding * 1.5;

  &.small {
    width: $base-padding;
    height: $base-padding;
  }

  path, polygon, rect {
    fill: $color-body;
  }

  circle {
    stroke: $color-body;
    stroke-width: 1;
  }

  &.success {
    @include color($color-success)
  }

  &.primary {
    @include color($color-primary)
  }
}
