.Shared-Tabs {
  flex: 1;
  display: flex;
  flex-direction: column;

  > .tab-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
    height: $header-height;

    > .tab {
      font-size: $font-size-large;
      cursor: pointer;
      color: $black;
      padding: $base-padding $base-padding * 1.5;

      &.selected {
        border-bottom: 2px solid $color-primary-medium;
      }
    }
  }

  > .tab-panel {
    display: flex;
    flex: 1;
  }
}
