.Shared-TagSidebar {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: -1px;

  > .label {
    color: $gray;
    text-transform: uppercase;
    font-weight: $semi-bold;
    font-size: $font-size-tiny;
    padding: $base-padding;
  }

  > .option {
    display: flex;
    font-size: $font-size-small;
    padding: $tiny-padding $base-padding;
    margin-top: $tiny-padding;
    margin-bottom: $tiny-padding;
    text-decoration: none;
    border-left: 2px solid transparent;
    cursor: pointer;
    transition: border 100ms ease-in-out;

    &:hover {
      border-color: $color-primary;
    }

    &.option-selected {
      border-color: $color-primary;
      cursor: default;
    }
  }
}
