.Dashboard-DashboardProfile {
  display: flex;
  flex-direction: column;
  padding: $base-padding * 1.5 $triple-padding;
  flex: 1;

  .title {
    color: $gray-dark;
    font-size: $font-size-larger;
    padding-bottom: $tiny-padding;
  }

  .column {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    padding-bottom: $triple-padding;

    &.last {
      padding-bottom: $double-padding;
    }
  }

  .container-photo {
    display: flex;
    flex-direction: row;
    padding-top: $base-padding;

    > .photo {
      background-color: $gray-xlight;
      margin-right: $base-padding;
      border-radius: $border-radius-input;
    }

    > .container-photo-instructions {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      > .button {
        align-self: flex-end;
      }
    }
  }
}
