.Dashboard-DashboardContacts {
  display: flex;
  flex: 1;
  flex-direction: row;
  background-color: #fff;

  .container-main {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  .content {
    display: flex;
    flex-direction: row;
    flex: 1;
  }

  .container-sidebar {
    display: flex;
    flex: 1;
    max-width: $sidebar-tags-width;
  }

  .container-content {
    display: flex;
    flex: 1;
  }

  .list-contacts {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-height: 100vh;
    overflow-y: scroll;
  }

  .container-sidebar-details {
    display: flex;
    flex-basis: $sidebar-details-width;
    transition: all ease-in-out 100ms;
  }

  .container-sidebar-details:not(.show-details) {
    margin-right: -$sidebar-details-width;
  }
}
