.Dashboard-OrganizationSettings {
  display: flex;
  flex: 1;
  flex-direction: column;

  > .container {
    display: flex;
    flex-direction: column;
    padding: $small-padding $double-padding * 1.5;
    max-height: calc(100vh - #{$header-height});
    flex: auto;
    overflow-y: scroll;
  }
}
