.Forms-FormInput {
  display: flex;
  padding-top: $tiny-padding;
  padding-bottom: $tiny-padding;

  .input {
    display: flex;
    flex: 1;
    padding: $small-padding;
    line-height: $line-height-input;
    border-radius: $border-radius-button;
    border: 2px solid $color-border-input;
    transition: all .2s ease;

    &:hover {
      border-color: $gray;
    }

    &:focus, &:active {
      border-color: $color-primary-semi-light;
    }
  }
}
