.Forms-Form {
  flex-direction: column;

  > .header {
    padding-bottom: $base-padding * 1.5;
    display: flex;
    flex: 1;
    letter-spacing: $letter-spacing-narrow;
  }

  > .subheader {
    display: flex;
    flex: 1;
    align-items: baseline;
    padding-bottom: $base-padding;

    @media (max-width: $break-point-phone - 1) {
      font-size: $font-size-small;
    }

    .link-label {
      display: flex;
    }
  }

  .container-input {
    padding-top: $base-padding;
    padding-bottom: $base-padding;
  }

  .container-cta {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .container-alternative-cta {
    display: flex;
    padding-left: $base-padding;
    font-size: $font-size-smaller;
  }
}
