.Forms-Input {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: $base-padding;

  > .input {
    display: flex;
    flex: 1;
    padding: 0 $base-padding;
    min-height: $min-height;
    box-shadow: none;
    line-height: $line-height-input;
    font-size: $font-size-large;
    letter-spacing: $letter-spacing-spaced;
    border-radius: $border-radius-button;
    border: 2px solid $color-border-input;
    transition: all .2s ease;

    &:hover {
      border-color: $gray;
    }

    &:focus, &:active {
      border-color: $color-primary-semi-light;
    }
  }

  &.small {
    > .input {
      padding: 0 $small-padding;
      min-height: $min-height-small;
    }
  }

  &.file {
    > .input {
      padding: 0;
      border: none;
      color: transparent;
      margin-top: $base-padding;
    }
  }
}
