.Forms-Label {
  padding-bottom: $small-padding;
  color: $gray-dark;
  white-space: nowrap;

  &.required {
    color: red;
  }

  > .required-star {
    color: $color-danger;
    padding-left: $tiny-padding;
    font-family: $font-family-semibold;
  }
}
