.Forms-Textarea {
  display: flex;
  flex-direction: column;
  margin-bottom: $base-padding;

  > .textarea {
    resize: vertical;
    display: flex;
    flex: 1;
    padding: $small-padding $base-padding 0 $base-padding;
    min-height: $min-height;
    box-shadow: none;
    line-height: $line-height-input;
    font-size: $font-size-small;
    letter-spacing: $letter-spacing-spaced;
    border-radius: $border-radius-button;
    border: 2px solid $color-border-input;
    transition: all .2s ease;

    &.no-resize {
      resize: none;
    }

    &:hover {
      border-color: $gray;
    }

    &:focus, &:active {
      border-color: $color-primary-semi-light;
    }
  }

  &.small {
    > .textarea {
      font-size: $font-size-smaller;
    }
  }
}
