.Auth-ForgotPassword {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding-bottom: 200px;

  .form-container {
    padding: $base-padding;
    min-width: 500px;
  }
}
