.Auth-Login {
  display: flex;
  flex: 1;
  background-color: $color-primary-lighter;

  .form-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: $base-padding * 1.5;
    min-width: 330px;
    justify-content: center;
    padding-bottom: 200px;
  }

  .illustration {
    display: flex;
    display: none;
  }

  .container-google-button {
    padding: 0;
    margin-top: $base-padding;
    background-color: #fff;
    color: $gray-semi-dark;
    border: 1px solid $gray-light;
  }

  .google-button {
    display: flex;
    flex: 1;
    min-height: 50px;
    justify-content: center;
    align-items: center;
  }

  .logo-google {
    position: absolute;
    left: $base-padding;
    top: 0;
    height: 100%; // for Safari
  }

  .container-forgot {
    margin-top: $double-padding;
    display: flex;
    justify-content: center;
  }

  @media (min-width: $break-point-tablet) {
    .illustration {
      display: flex;
      flex-grow: 10;
      background-color: $color-primary-semi-light;
    }

    .image-container {
      display: flex;
      flex: 1;
      background-image: url('https://d13yacurqjgara.cloudfront.net/users/13449/screenshots/1828176/lakeside_sunset.png');
      background-size: cover;
    }
  }
}
