.Auth-Login {
  display: flex;
  flex: 1;

  .form-container {
    padding: $base-padding;
    min-width: 330px;
  }

  .illustration {
    display: none;
  }

  .googleButton {
    margin-top: $base-padding;

    // TODO: make it a mixin (cf Button.scss)
    box-shadow: none;
    border: none;
    padding: $vertical-padding-button $horizontal-padding-button;
    border-radius: $border-radius-button;
    color: $color-snow;
    font-weight: $semi-bold;
    font-size: $font-size-small;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);

    background-color: $color-danger;
  }

  @media (min-width: $break-point-tablet) {
    .illustration {
      display: flex;
      flex-grow: 1;
      background-color: $color-placeholder;
    }

    .image-container {
      display: flex;
      flex: 1;
      background-image: url('https://upload.wikimedia.org/wikipedia/commons/8/83/Zebra_Botswana_edit02.jpg');
      background-size: cover;
    }
  }
}
