.Auth-ResetPassword {
  display: flex;
  flex: 1;
  background-color: $color-primary-lighter;
  justify-content: center;
  padding: $base-padding * 1.5;
  padding-bottom: 200px;

  @media (min-width: $break-point-phone) {
    align-items: center;
  }
}
