.Dashboard-DashboardSidebar {
  display: flex;
  flex-direction: column;
  background-color: $sidebar-background;
  width: $sidebar-width;
  background-color: $sidebar-background;


  > .container-organization {
    height: $header-height;
    margin-bottom: $base-padding;
    display: flex;
    align-items: center;
    padding-top: $base-padding;
    padding-left: $base-padding;
    padding-right: $base-padding;
    font-size: $font-size-large;
    color: $color-primary;

    > .organization-name {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;

    }
  }

  > .container-bottom {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-end;
    padding: $small-padding $small-padding $small-padding $base-padding;

    > .content-bottom {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      > .brand {
        color: $color-primary;
        text-transform: uppercase;
        font-size: $font-size-small;
        color: $gray;
        font-family: $font-family-semibold;
        letter-spacing: $letter-spacing-spaced * 2;
        user-select: none;
      }

      > .button-logout {
        padding: $small-padding;
        cursor: pointer;

        .icon-logout {
          width: $base-padding;
          height: $base-padding;
          // dirty
          margin-bottom: -2px;
        }

        path {
          fill: $color-primary;
        }
      }
    }
  }
}
