$black: #111;
$gray-dark: #333;
$gray-semi-dark: #777;
$gray: #a8b2bb;
$gray-light: #d0d0d0;
$gray-xlight: #f9fafb;

$color-primary: #176FD4;
$color-primary-medium: lighten($color-primary, 14%);
$color-primary-semi-light: lighten($color-primary, 28%);
$color-primary-light: lighten($color-primary, 42%);
$color-primary-lighter: lighten($color-primary, 53.3%);

$color-success: rgb(0, 199, 6);
$color-snow: #fff;
$color-frost: lighten($color-primary, 50%);
$color-placeholder: $color-primary-light;
$color-border-input: $gray-light;
$color-danger: #F40033;
$color-warning: #FFA42F;
$background-dark: darken($color-primary, 25%);

// dashboard
$sidebar-background: #f0f6fc;

$color-body: $gray-dark;

$color-hover-primary: $color-primary-lighter;
