@font-face {
  font-family: 'CalibreReg';
  src: url('../fonts/CalibreWeb-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'CalibreSemibold';
  src: url('../fonts/CalibreWeb-Semibold.woff2') format('woff2');
}
