h1, h2, h3, h4, h5, p {
  margin: 0;
}

a {
  color: $color-primary;
}

a:not(:hover) {
  text-decoration: none;
}

html {
  min-height: 100vh;
  display: flex;
}

body {
  font-size: $font-size-body;
  display: flex;
  flex: 1;
}

body > #index {
  display: flex;
  flex: 1;
}
